ASR_model
# backend/logs
backend/temp_audio
backend/soul_backend/migrations
backend/config/__pycache__
backend/db.sqlite3
backend/soul_backend/diary/__pycache__
backend/soul_backend/chat/__pycache__
backend/soul_backend/account/__pycache__
backend/soul_backend/community/__pycache__
backend/soul_backend/__pycache__
backend/soul_backend/utils/__pycache__
backend/soul_backend/utils/asr/__pycache__
backend/logs/django.log
