ASR_model
# backend/logs
backend/temp_audio
backend/soul_backend/migrations
backend/config/__pycache__
backend/db.sqlite3
backend/apps/diary/__pycache__
backend/apps/chat/__pycache__
backend/apps/account/__pycache__
backend/apps/community/__pycache__
backend/soul_bappsackend/__pycache__
backend/apps/utils/__pycache__
backend/apps/utils/asr/__pycache__
backend/logs
backend/apps/account/migrations/__pycache__
backend/apps/chat/migrations/__pycache__
backend/apps/community/migrations/__pycache__
backend/apps/diary/migrations/__pycache__
backend/apps/account/migrations
backend/apps/diary/migrations/
backend/apps/chat/migrations/
backend/apps/community/migrations/
backend/apps/chat/migrations/0002_auto_20250315_0149.py
backend/apps/community/migrations/0002_auto_20250315_0149.py

# ignored files
node_modules/
uni_modules/
.project
unpackage/
.Ds_store
/dist/
/dev/
