@font-face {
  font-family: "iconfont"; /* Project id 4874164 */
  src: url('//at.alicdn.com/t/c/font_4874164_25hwnzorslui.woff2?t=1743138090686') format('woff2'),
       url('//at.alicdn.com/t/c/font_4874164_25hwnzorslui.woff?t=1743138090686') format('woff'),
       url('//at.alicdn.com/t/c/font_4874164_25hwnzorslui.ttf?t=1743138090686') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e63c";
}

.icon-yonghu:before {
  content: "\e66b";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-jianchagengxin:before {
  content: "\e628";
}

.icon-guanyu:before {
  content: "\e604";
}

.icon-lajitong:before {
  content: "\e61a";
}

.icon-yinsi:before {
  content: "\e622";
}

.icon-shoucang3:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-a-shoucang-yishoucang:before {
  content: "\e6d3";
}
